.a{
    font-size:larger;
}
.t1{
    font-size: medium;
}
input{
    font-family: 'Courier New', Courier, monospace;
}
.b{
    font-family: 'Courier New', Courier, monospace;
}
label{
    font-family: 'Courier New', Courier, monospace;
}